<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>

	<system.serviceModel>

		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IJCDecauxData" maxReceivedMessageSize="35000000"/>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/Proxy/Service1/"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJCDecauxData"
			  contract="ProxyReference.IJCDecauxData" name="BasicHttpBinding_IJCDecauxData" />
		</client>

		<services>
			<service name="Routing.RoutingSoap" behaviorConfiguration="SoapConfig" >
				<endpoint address="" binding="basicHttpBinding" contract="Routing.IRoutingSoap">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/Routing/ServiceSoap/" />
					</baseAddresses>
				</host>
			</service>
			<service name="Routing.RoutingRest">
				<endpoint address="http://localhost:8733/Design_Time_Addresses/Routing/ServiceRest/" binding="webHttpBinding"
				contract="Routing.IRoutingRest"
				behaviorConfiguration="RestConfig"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="SoapConfig">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="RestConfig">
					<webHttp />
					<crossOriginRessourceSharingBehavior />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="crossOriginRessourceSharingBehavior" type="Routing.EnableCrossOriginResourceSharingBehavior, Routing" />
			</behaviorExtensions>
		</extensions>

	</system.serviceModel>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
